@import url(https://fonts.googleapis.com/css?family=Lobster);
body {
    background-color: #000;
    overflow: none;
    margin: 0;
    height: 100%;
    color:black;
    
}

#myCanvas {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    
}
.main-content {
    background-color:#eaeaea;
    height: 1200px;
    width: 100%;
    overflow-y: auto;
    border-left:#014955 solid 3px;
    border-right:#014955 solid 3px;
    
}



